body {
    background-image: url('https://st4.depositphotos.com/1005233/20652/i/450/depositphotos_206520768-stock-photo-view-logistic-organisation-warehouse-background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
